.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git

# OS & Others
.DS_Store
.vagrant
node_modules

# Django & Python Files
.venv
*.mo
*.db

# Caching
CACHE
.sass-cache
.cache
